*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  padding: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.card {
  display: grid;

  /* important part */
  grid-template-rows: subgrid;

  grid-row: span 3;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
}

.cards {
  grid-template-rows: auto auto auto;
}

button {
  align-self: end;
}